.options {
  position: absolute;
  z-index: 10000;
  background-color: var(--dark-bg-redesigned);
  box-shadow: 2px 2px 4px var(--dark-bg-redesigned);
}

.item {
  padding: 8px 16px;
  cursor: pointer;
}

.selected {
  background-color: var(--light-bg-redesigned);
}
