.Button {
  padding: 6px 15px;
  color: var(--primary-color);
  cursor: pointer;

  &:hover {
    color: var(--secondary-color);
  }
}

.clear,
.clearInverted {
  display: flex;
  padding: 0;
  background: none;
  border: none;
  outline: none;
}

.clearInverted {
  color: var(--inverted-primary-color);
}

.outline {
  color: var(--primary-color);
  background: none;
  border: 1px solid var(--primary-color);

  &:hover {
    border: 1px solid var(--secondary-color);
  }
}

.outlineRed {
  color: var(--error-color-light);
  background: none;
  border: 1px solid var(--error-color-light);

  &:hover {
    color: var(--error-color-dark);
    border: 1px solid var(--error-color-dark);
  }
}

.background {
  color: var(--primary-color);
  background-color: var(--bg-color);
  border: none;
}

.backgroundInverted {
  color: var(--inverted-primary-color);
  background-color: var(--inverted-bg-color);
  border: none;
}

.square {
  padding: 0;
}

.square.size_m {
  width: var(--font-line-m);
  height: var(--font-line-m);
  font: var(--font-m);
}

.size_m {
  font: var(--font-m);
}

.square.size_l {
  width: var(--font-line-l);
  height: var(--font-line-l);
  font: var(--font-l);
}

.size_l {
  font: var(--font-l);
}

.square.size_xl {
  width: var(--font-line-xl);
  height: var(--font-line-xl);
  font: var(--font-xl);
}

.size_xl {
  font: var(--font-xl);
}

.disabled {
  cursor: auto;
  opacity: 0.5;
}
