.Sidebar {
  position: relative;
  width: var(--sidebar-width);
  height: calc(100vh - var(--navbar-height));
  background-color: var(--inverted-bg-color);
  transition: width 0.3s;
}

.switchers {
  position: absolute;
  bottom: 20px;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.collapsedBtn {
  position: absolute;
  right: -32px;
  bottom: 32px;
}

.items {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 20px;
  margin-left: 30px;
}

.item {
  display: flex;
  gap: 10px;
  align-items: stretch;
  color: var(--inverted-primary-color);
  text-decoration: none;
  background: transparent;
  fill: var(--inverted-primary-color);

  &:hover {
    color: var(--inverted-secondary-color);
    fill: var(--inverted-secondary-color);
  }
}

.link {
  width: 20px;
  font-weight: 700;
  white-space: nowrap;
  text-transform: uppercase;
  opacity: 1;
  transition: opacity 0.3s linear;
}

.collapsed {
  width: var(--sidebar-width-collapsed);

  .switchers {
    flex-direction: column;
  }

  .link {
    width: 0;
    opacity: 0;
    transition: opacity 0.3s linear;
  }
}
