.ArticlesDetailPage {
  min-height: 100%;
}

.commentTitle {
  margin-top: 20px;
}

.commentForm {
  margin-top: 10px;
}

.recomendations {
  flex-wrap: nowrap;
  margin-top: 20px;
  overflow-x: auto;
  overflow-y: hidden;
}
