.Navbar {
  display: flex;
  align-items: center;
  width: 100%;
  height: var(--navbar-height);
  padding: 2rem;
  background-color: var(--inverted-bg-color);
}

.actions {
  margin-left: auto;
}

.appName {
  width: var(--sidebar-width);
}
