:root,
.app_orange_theme {
  --bg-color: #faf4fb;
  --inverted-bg-color: #bd5012;
  --primary-color: #d01f0e;
  --secondary-color: #9a1a0e;
  --inverted-primary-color: #faf4fb;
  --inverted-secondary-color: #dbd5dc;
}
