.Navbar {
  display: flex;
  align-items: center;
  width: 100%;
  height: var(--navbar-height);
  padding: 2rem;
  background-color: var(--inverted-bg-color);
}

.links {
  display: flex;
  gap: 0.75rem;
  align-items: center;
  margin-left: auto;

  &:hover {
    color: var(--inverted-secondary-color);
  }
}

.appName {
  width: var(--sidebar-width);
}
