.Navbar {
  width: 100%;
  height: var(--navbar-height);
  background-color: var(--inverted-bg-color);
  display: flex;
  align-items: center;
  padding: 2rem;
}

.links {
    display: flex;
    align-items: center;
    gap: .75rem;
    margin-left: auto;
}
