.Code {
  position: relative;
  padding: 20px;
  overflow-x: auto;
  background: var(--code-bg);
  border: 1px solid var(--primary-color);
}

.copyBtn {
  position: absolute;
  top: 20px;
  right: 20px;
}
